
*{
    margin: 0;
    padding: 0;
}
body {
	font-size: 20px; 
	font-family: 'Montserrat', sans-serif;
}
img{
    max-width: 100%;
}



/* header starts here */
/* header ends here */

/* sectionOne starts here */
/* sectionOne ends here */

/* sectionTwo starts here */
/* sectionTwo ends here */

/* sectionThree starts here */
/* sectionThree ends here */

/* sectionFour starts here */
/* sectionFour ends here */

/* sectionFive starts here */
/* sectionFive ends here */

/* sectionSix starts here */
/* sectionSix ends here */

/* footer starts here */
/* footer ends here */